@charset "UTF-8";
/*폰트*/
@font-face {
  font-family: 'SANJUGotgam';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WandohopeB';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OTWelcomeRA';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*리셋*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 10px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*페이지*/
#content1 {
  width: 100%;
  height: 100vh;
}

.backg_Jamong {
  font-family: "SANJUGotgam";
  width: 100%;
  height: 100%;
  background: url(/public/img/jamong.png) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backg_Jamong .cont1_wrap {
  color: #fff;
  text-align: center;
}

.backg_Jamong .cont1_wrap h1 {
  font-size: 6em;
  line-height: 1.5em;
}

.backg_Jamong .cont1_wrap h1 span {
  color: #ae2121;
  font-size: 1.2em;
  -webkit-animation: ringMong 2s;
          animation: ringMong 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes ringMong {
  from {
    color: #fff;
  }
  to {
    color: #ae2121;
  }
}

@keyframes ringMong {
  from {
    color: #fff;
  }
  to {
    color: #ae2121;
  }
}

.backg_Jamong .cont1_wrap p {
  font-size: 3em;
}

.backg_Jamong .cont1_wrap b {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.backg_Jamong .cont1_wrap a {
  padding: 1em 10em;
}

#content2 {
  padding: 10em;
  font-family: "WandohopeB";
}

#content2 .cont2_wrap h2 {
  font-size: 7em;
  text-align: center;
}

#content2 .cont2_wrap .card-wrap .card-title {
  font-size: 3em;
  font-weight: bold;
}

#content2 .cont2_wrap .card-wrap .card-text {
  font-family: "OTWelcomeRA";
}

#content2 .cont2_wrap .card-wrap .btn {
  font-family: "OTWelcomeRA";
  margin-top: 1px;
}

#content3 {
  padding: 10em;
  font-family: "WandohopeB";
}

#content3 .cont3_wrap h2 {
  font-size: 7em;
  text-align: center;
}

#content3 .cont3_wrap .video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#content3 .cont3_wrap .video-wrap iframe,
#content3 .cont3_wrap .video-wrap object,
#content3 .cont3_wrap .video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content4 {
  padding: 10em;
  font-family: "WandohopeB";
}

#content4 .cont4_wrap h2 {
  font-size: 7em;
  text-align: center;
}

#content4 .cont4_wrap #map {
  border: 1px solid #000;
}

footer {
  background: #333333;
  color: #949494;
  font-size: 1.5em;
  padding: 2em 10em;
  line-height: 1.5;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  body {
    font-size: 10px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 8px;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  body {
    font-size: 5px;
  }
}
